POSTGRES_DATA_LOCATION=./postgres
REDIS_DATA_LOCATION=./redis
ELASTICSEARCH_DATA_LOCATION=./elasticsearch
MASTODON_DATA_LOCATION=./mastodon
MINIO_DATA_LOCATION=./minio

NGINX_CONF_LOCATION=./nginx-conf
PROMETHEUS_CONF_LOCATION=./prometheus-conf
GRAFANA_PROVISIONING_LOCATION=./grafana-provisioning
MINIO_CONF_LOCATION=./minio-conf

# The following secrets need to be changed during initial setup - see instructions
POSTGRES_PASSWORD=TBD
ELASTICSEARCH_PASSWORD=TBD
MINIO_ADMIN_PASSWORD=TBD
MINIO_USER_PASSWORD=TBD
