POSTGRES_DATA_LOCATION=./postgres
REDIS_DATA_LOCATION=./redis
ELASTICSEARCH_DATA_LOCATION=./elasticsearch
MASTODON_DATA_LOCATION=./mastodon
NGINX_DATA_LOCATION=./nginx-data
PROMETHEUS_CONF_LOCATION=./prometheus-conf
