# --- Set the following variables yourself ---

LOCAL_DOMAIN=chat.example.com
SINGLE_USER_MODE=true
SMTP_SERVER=
SMTP_PORT=587
SMTP_LOGIN=
SMTP_PASSWORD=
SMTP_AUTH_METHOD=plain
SMTP_OPENSSL_VERIFY_MODE=client_once
SMTP_FROM_ADDRESS=Mastodon <mastodon@chat.example.com>

# Enable the following if using Dockerized LibreTranslate:
#LIBRE_TRANSLATE_ENDPOINT=http://172.24.0.14:5000
#ALLOWED_PRIVATE_ADDRESSES=172.24.0.14

# --- These variables can be set manually or via a helper script ---

SECRET_KEY_BASE=
OTP_SECRET=
VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=

# --- The variables below should work by default without modification ---

DB_HOST=db
DB_PORT=5432
DB_NAME=mastodon
DB_USER=postgres
#DB_PASS= ### This value is set via docker-compose.yml
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
ES_ENABLED=true
ES_HOST=es
ES_PORT=9200
ES_USER=elastic
#ES_PASS= ### This value is set via docker-compose.yml
TRUSTED_PROXY_IP=172.24.0.2
STATSD_ADDR=promstatsdexporter:9125
